<!DOCTYPE html>

<html>
    <head>
        
        
    </head>
    <body>
        <main class="todositem-form">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="control">
                <button class="button">Create</button>
              </div>
            </form>
          </main>
          </body>
    </body>
</html>