<!DOCTYPE html>

<html>
    <head>
        
        <title>GAng</title>
    </head>
    <body>
        <h1><a href="{% url 'todositem_create' %}">Add an item!</a></h1>
        <h1><a href="{% url 'todoslist_create' %}">Add an list!</a></h1>
        asdsdas22aa
        <h2> {{todolist.name}}</h2>
        {% for item in todolist.items.all %}
        <ul>
            <li>{{item.task}}</li>
        </ul>
        {% endfor %}
    </body>
</html>