<!DOCTYPE html>

<html>
    <head>
        
        <title>GAng</title>
    </head>
    <body>
        <h1><a href="{% url 'todositem_create' %}">Add an item!</a></h1>
        <h1><a href="{% url 'todoslist_create' %}">Add an list!</a></h1>
        asdsdas22aa
        {% for todos in todolist_list %}
        <ul>
            <li><a href="{% url 'todoslist_detail' todos.pk %}"> {{todos.name}}</a></li>
        </ul>
        {% endfor %}
    </body>
</html>